/* Reset Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 50px;
    margin-left: 70px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

nav a:hover {
    color: #AF1414;
}

/* icon images */
.admin-icons {
    display: flex;
    gap: 15px;
    font-size: 15px;
    margin-right: 55px;
}

.admin-icons img {
    width: 35px;
}

.notification {
    width: 34px;
}


/* Search Bar */
.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-bar input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.violation-link {
    margin-left: 85%;
}

/* Student Sanction List */
.container {
    width: 90%;
    margin: auto;
}

h1 {
    font-size: larger;
    margin-left: 70px;
}

/* Student Sanction List */
.container {
    width: 90%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 60px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #AF1414;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.grid-item:hover {
    background: #AF1414;
    color: white;
}

.grid-item img {
    width: 50px;
    height: 50px;
}