* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    width: 800px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.welcome-section {
    width: 50%;
    background-color: #b00000;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: center;
}

.welcome-section h1 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.welcome-section p {
    font-size: 14px;
}

.login-section {
    width: 50%;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    font-size: 12px;
    margin-bottom: 30px;
}

a {
    color: blue;
    text-decoration: none;
}

.login-btn {
    width: 50%;
    padding: 10px;
    background-color: #15B507;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    color: #0e9202;
}